# Python
.venv/
__pycache__/
.ipynb_checkpoints/
*.DS_Store

# Local docs/assets not needed in git
*.xmind
*.zip

# Data outputs (keep raw tracked via LFS)
data/processed/*.parquet
data/processed/*.csv

# Ignore duplicate or local data copies
/data/*.csv
/data/.DS_Store
/data copy/**

# Docs outputs
docs/*.csv
docs/*.html



